<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ju.demo.business.aar">

    <!-- 此处使用的permission，必须和业务app里定义的permission一致 -->
    <uses-permission android:name="com.ju.widget.permission.WIDGET_BUSINESS.com.ju.demo.business" />

    <application />

</manifest>