<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ju.widget">

    <permission
        android:name="com.ju.widget.permission.WIDGET_SERVICE"
        android:protectionLevel="normal" />

    <!-- Widget服务权限 -->
    <uses-permission android:name="com.ju.widget.permission.WIDGET_SERVICE" />

    <application>
        <service
            android:name="com.ju.widget.impl.WidgetService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="dataSync"
            android:permission="com.ju.widget.permission.WIDGET_SERVICE">
            <intent-filter>
                <action android:name="com.ju.widget.intent.action.WIDGET_SERVICE" />
            </intent-filter>
        </service>

    </application>

</manifest>